{% comment %}
add code in this file to your theme -> sections -> header.liquid

1. Upload login_register_popup.liquid file to your theme -> snippets

2. Add following line to start of your header.liquid file. 
  {% render 'login_register_popup' %}

3. and then add following line of code where you want login text in header.
  <a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}#open-login{%- endif -%}" class="menu-drawer__account link focus-inset h5 site-header__icon site-header__account">
  {% render 'icon-account' %}
  {%- liquid
    if customer
      echo 'Account'
    else
      echo 'Log in'
    endif
   -%}
</a>
{% endcomment %}


{% render 'login_register_popup' %}


<a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}#open-login{%- endif -%}" class="menu-drawer__account link focus-inset h5 site-header__icon site-header__account">
  {% render 'icon-account' %}
  {%- liquid
    if customer
      echo 'Account'
    else
      echo 'Log in'
    endif
   -%}
</a>
